
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --background-color-main: #E5E5E5;
    --background-color-primary: #F5F4FA;
    --background-color-header: #FFFFFF;
    --background-color-footer: #2F303A;
    --footer-color: rgba(255, 255, 255, 0.6);
    }

body {
    background-color: var(--background-color-main)
    color:  var(--primary-text-color);
    
    font-famili: Roboto, sans-serif;
    }
   
    /* Logotype */
.logo {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
        }

.logo-studio {
    color: var(--title-text-color)
    }

    /* header */

.link:hover,
.link:focus {
    color: var(--accent-color);
    }
.site-nav a {
    color: var(--title-text-color)
}


/* Current */

.site-nav .link.current {
    color: var(--accent-color);
}

.contacts a {
    color: inherit;
}
